[Unit]
Description=Wordle web app
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=SERVER_PORT=80 nohup /usr/bin/java -jar /home/ec2-user/wordle_running/wordle_solver-0.0.1-SNAPSHOT.jar web.wordle_solver.WordleSolverApplication > /home/ec2-user/wordle_running/nohup.out &

[Install]
WantedBy=multi-user.target